html, body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: darkcyan;
  font-family: courier;
}

h1 {
  font-family: sans-serif;
  font-weight: normal;
  color: gold;
  text-align: center;
  position: relative;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

h1::after {
  content: '?';
  position: absolute;
  top: -0.35em;
  left: 0;
  font-size: 25em;
  transform: rotate(15deg);
  color: cyan;
  filter: opacity(0.3);
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

p {
  width: 400px;
  height: 2.5em;
  color: gold;
  font-size: 24px;
  border: 2px solid gold;
  line-height: 2.5em;
  text-align: center;
  border-radius: 10px;
  font-family: sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

p span {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.5s ease-out;
}

p .question {
  left: 0;
}

p:hover .question {
  left: 100%;
}

p .answer {
	color: whitesmoke;
	font-size: 1.1em;
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.1);
	left: -100%;
}

p:hover .answer {
	left: 0;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

.menu_btn {
  font-family: helvetica;
  width: 125px;
  float: left;
  margin-left: 5px;
  &:first-child .dd_btn {
    background-color: #f1c40f;
    &:active {
      background-color: #f39c12;
    }
  }
  &:nth-child(2) .dd_btn {
    background: #2ecc71;
    &:active {
      background-color: #27ae60;
    }
  }
  &:nth-child(3) .dd_btn {
    background: #3498db;
    &:active {
      background-color: #2980b9;
    }
  }
  &:nth-child(4) .dd_btn {
    background: #e74c3c;
    &:active {
      background-color: #c0392b;
    }
  }
  .dd_btn {
    height: 50px;
    width: 125px;
    color: #fff;
    font-size: 18px;
    border: 0px;
    z-index: 3;
    float: left;
    cursor: pointer;
    background-color: #E19E19;
    &:active {
      background-color: #946810;
    }
    &:focus {
      outline: none;
    }
  }
  .dd {
    position: absolute;
    width: 255px;
    margin-top: 55px;
    background: white;
    text-align: center;
    a {
      width: 100%;
      display: block;
      height: 100%;
      padding: 15px 0 15px 0;
      text-decoration: none;
      color: #666;
      background: #f9f9f9;
      &:hover {
        background-color: #ecf0f1;
      }
      &:active {
        background-color: #bdc3c7;
        color: #fff;
      }
    }
  }
}

.cal{
  display:inline-block;
  background:#ffe;
  color:#555;
  font-size:6px;
  text-align:center;
  transform:scale(1);
  transition:all 0.2s linear;
}

.cal:hover{
  transform:scale(2.5);
  transition:all 0.4s linear;
}

.cal caption{
  background:#d44;
  color:#eee;
  font-size:15px;
}

.cal th{
  color:#aaa;
  line-height:200%;
}

.cal th:first-child{
  color:#f00;
}
.cal th:last-child{
  color:#04d;
}
.cal td{
  padding:0 2px;
  line-height:100%;
}
